* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

.body-cont {
  padding: 0px 40px;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 120px;
  height: 60px;
}
ul {
  list-style-type: none;
}
li {
  margin: 20px;
  display: inline;
}
li a {
  font-size: 15px;
  text-decoration: none;
  color: #a1a1a1;
  transition: color 0.5s;
  font-weight: 400;
}

li a:hover {
  color: orangered;
  font-weight: 500;
}

/* .tag { */
/* display: flex;
  align-items: center;
  justify-content: center; */
/* background-color: whitesmoke;
  width: 450px;
  height: 300px;
  border-radius: 8px;
  position: absolute;
  padding: 30px;
  color: orangered;
  top: 30%;
  box-shadow: 3px 3px 10px gray;
  z-index: 1;
} */
/* 
.tag i {
  color: black;
  float: right;
  font-size: 30px;
}

.tag i:hover {
  transform: scale(1.1);
} */

/* .tag h1 {
  color: black;
  text-shadow: 1px 1px 10px orange;
} */

/* .overlay {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
} */

.hidden {
  display: none;
}

button {
  color: white;
  background-color: orangered;
  transition: 0.9s;
}

button:hover {
  border: 1px solid orangered;
  background-color: transparent;
  color: orangered;
  cursor: pointer;
}

nav button {
  width: 100px;
  height: 35px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.sect1 {
  margin-top: 30px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 2s;
}

.content {
  width: 70%;
  /* height: 100%; */
  /* padding: 20px; */
}

@keyframes textanimate {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}

.content h1 {
  font-size: 50px;
  font-weight: 500;
  position: relative;
  line-height: 50px;
  animation-name: textanimate;
  animation-duration: 2s;
}

.content p {
  /* width: 90%; */
  margin-top: 20px;
  font-size: 15px;
  position: relative;
  color: #a1a1a1;
  animation-name: textanimate;
  animation-duration: 2s;
}

.text {
  height: 100%;
  width: 45%;
  display: flex;
  position: relative;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  animation-name: textanimate;
  animation-duration: 1.5s;
  /* transform: rotate(-20deg); */
}

.search {
  background-color: whitesmoke;
  height: 50px;
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

.search i {
  color: orangered;
}

::-webkit-search-cancel-button {
  color: orangered;
}

.search input {
  height: 100%;
  width: 60%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0px 10px;
  font-size: 15px;
}

::placeholder {
  font-size: 14px;
  /* text-align: center; */
  color: #a1a1a1;
}

.search button {
  height: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30%;
}

.search button:hover {
  border: 1px solid orangered;
}

.flex {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.followers h2 {
  font-size: 18px;
}

h2 > span {
  color: orangered;
}

.followers p {
  margin-top: 0px;
  font-size: 14px;
}

@keyframes imganimate {
  from {
    transform: rotate(25deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.content-img {
  width: 30%;
  height: 100%;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  background-color: transparent;
  background-color: #a1a1a1;

  display: flex;
  justify-content: center;
  animation-name: imganimate;
  animation-duration: 1s;
}

.content-img img {
  /* border: 10px solid gray; */
  position: relative;
  top: 10px;
  width: 95%;
  height: 105%;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* transform: rotate(25deg); */
}

.icon {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 100px;
  gap: 200px;
  transform: scale(0.7);
  transition: 1s;
}
